#profile-picture {
  clip-path: circle(38% at 50% 50%);
}

section:first-of-type {
  display: flex;
  align-items: center;
}

p {
  margin: 0;
}

p:first-of-type {
  font-weight: 500;
}
