.wrapper {
  display: grid;
  grid-template-areas:
    'header header header header'
    'menu dash dash dash'
    'menu dash dash dash'
    'menu dash dash dash';
  width: max-content;
  margin: 7rem auto;
  background-color: rgb(254, 254, 254);
  border-radius: 20px;
}

app-header {
  grid-area: header;
}

app-menu {
  grid-area: menu;
}

app-dashboard {
  grid-area: dash;
}
