.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 4px solid rgb(240, 240, 240);
  height: 7rem;
}

#logo {
  height: 45px;
}

#profile-picture {
  height: 45px;
  clip-path: circle(38% at 50% 50%);
}

div:first-of-type {
  display: flex;
}

p:first-of-type {
  font-weight: 900;
}
