.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(254, 254, 254);
  border: 2px solid rgb(220, 220, 220);
  height: 60px;
}

#logo {
  height: 45px;
}

#profile-picture {
  height: 40px;
}

div:first-of-type {
  display: flex;
}

p:first-of-type {
  font-weight: 900;
}
