<aside>
  <ul class="menu">
    <li class="button">
      <app-dashboard
        ><a
          routerLink="/dashboard"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
          >Dashboard</a
        ></app-dashboard
      >
    </li>
    <li class="button">
      <app-exams
        ><a
          routerLink="/exams"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
          >Exams</a
        ></app-exams
      >
    </li>
    <li class="button">
      <app-results
        ><a
          routerLink="/results"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
          >Results</a
        ></app-results
      >
    </li>
    <li class="button">
      <app-notes
        ><a
          routerLink="/notes"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
          >Notes</a
        ></app-notes
      >
    </li>
    <li class="button">
      <app-tutor-support
        ><a
          routerLink="/tutor-support"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
          >Tutor Support</a
        ></app-tutor-support
      >
    </li>
    <li class="button">
      <app-settings
        ><a
          routerLink="/settings"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
          >Settings</a
        ></app-settings
      >
    </li>
    <li class="button">
      <app-help
        ><a
          routerLink="/help"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
          >Help</a
        ></app-help
      >
    </li>
  </ul>
</aside>
