<aside>
  <ul class="menu">
    <li class="button">
      <app-exams
        routerLink="/exams"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
      ></app-exams>
    </li>
    <li class="button">
      <app-results
        routerLink="/results"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
      ></app-results>
    </li>
    <li class="button">
      <app-notes
        routerLink="/notes"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
      ></app-notes>
    </li>
    <li class="button">
      <app-tutor-support
        routerLink="/tutor-support"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
      ></app-tutor-support>
    </li>
    <li class="button">
      <app-settings
        routerLink="/settings"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
      ></app-settings>
    </li>
    <li class="button">
      <app-help
        routerLink="/help"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
      ></app-help>
    </li>
  </ul>
</aside>
