.menu {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 70rem;
  border-right: 4px solid rgb(240, 240, 240);
}

.menu-item {
  list-style: none;
  justify-content: space-around;
  padding: 2rem;
  font-size: 1.4rem;
}
