<nav>
  <a
    class="button"
    routerLink="/logo"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
    >Logo</a
  >
  <a
    class="button"
    routerLink="/search-bar"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
    >Search</a
  >
  <a
    class="button"
    routerLink="/calendar"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
    >Calendar</a
  >
  <a
    class="button"
    routerLink="/notifications"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
    >Notifications</a
  >
  <a
    class="button"
    routerLink="/profile"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
    >Profile</a
  >
</nav>

<mat-toolbar color="primary">
  <span>Cerebrum</span>
</mat-toolbar>

<app-container-wrapper />
<router-outlet></router-outlet>
